/*
* @Author: Tom Lotze
* @Date:   2020-01-13 18:06:29
* @Last Modified by:   Tom Lotze
* @Last Modified time: 2020-01-14 21:02:09
*/

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 18px;
  text-align: center;
  margin: 14px 0;
}

/* Style the footer */
 .footer {
  background-color: #F1F1F1;
  align-content: center;
  margin: 14px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  padding-left: 10px;
}


body {
  margin-left: 10%;
  margin-right: 10%;
}

p {
    text-align: justify;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #008cba;}

.center {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}




